/* 푸터 */
.footer {
  text-align: center;
  height: 245px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #c6c8ca;
}
.footerWrapper {
  width: 1060px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 0 65px;
}
.footerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #c6c8ca;
}
.footerTxtContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.footerNavItem {
  font-size: 15px;
  font-weight: 600;
  display: flex;
}

.footerNavItemWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerNavItemWrapper:first-child .footerNavItem {
  margin-right: 50px;
}

.footerNavItemWrapper:last-child {
  justify-content: flex-end;
}
.snsIcon {
  margin-left: 15px;
}
.footerTxtItem {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6666666667em;
  color: #767676;
}
.footerTxtSelect {
  width: 250px;
  height: 40px;
  background-color: rgba(208, 201, 201, 0.3);
  border-radius: 5px;
  color: #717171;
  font-weight: 800;
  border: none;
  padding-left: 15px;
}
