.jobCardContainer {
  width: 1060px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: left;
  /* align-items: space-between; */
  /* background-color: grey; */
}
.jobCardItem {
  /* border: 1px solid red; */
  width: 24%;
  padding: 15px 0;
  /* padding: 10px; */
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #333;
  font-weight: 600;
  margin: 5px;
  /* min-height: ; */
}
.cardHeader > img {
  width: 100%;
  height: 180px;
  /* min-height: 60px; */
  border-radius: 5px;
}
.cardPosition {
  position: relative;
  color: #333;
  font-size: 18px;
  font-weight: 600; /* 추후에 font-weight 하나로 묶기 */
  line-height: 1.2;
  /* max-height: 2.4em; */
  overflow: hidden;
  text-align: left;
  word-break: break-word;
  padding-top: 14px;
  /* border: 1px solid blue; */
}
.cardCompany {
  font-size: 14px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 1px;
}
.cardReponse > span {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  margin-top: 4px;
  padding: 0 5px;
}
.cardLocation {
  font-weight: 400;
  color: #999;
  font-size: 13px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}
.addressDot {
  margin: 0 3px;
  top: -4px;
  position: relative;
}
.cardReward {
  margin-top: 10px;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
