/* join 모달창 css */
.joinModal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  scrollbar-width: 0;
}
.mobileInputSelect {
  margin-bottom: 10px;
  position: relative;
  flex: 1 1;
  /* line-height: 50px; */
  padding: 0 15px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  color: #333;
}

.mobileInputSelect select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  color: #333;
  opacity: 0;
  appearance: none;
}
.mobileInputSelect select:focus {
  outline: none;
  border-color: #36f;
}
#codeGuide {
  color: #36f;
}
#timeCode {
  font-weight: 700;
  margin-top: 3px;
  font-size: 13px;
  color: #fe415c;
}
#selected {
  font-size: 15px;
  left: 15px;
}
.mobileInputSelect span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
  color: #333;
  z-index: 5;
}
.mobileInput {
  display: flex;
}
.mobileInput input {
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  font-size: 15px;
  color: #333;
}
.mobileInput button[disabled] {
  background-color: #f2f4f7;
  color: #ccc;
  border: none;
}
.mobileInput button {
  margin-left: 10px;
  min-width: 117px;
  padding: 16px 15px 14px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #e1e2e3;
  color: #36f;
}
.mobileCode {
  position: relative;
  margin-top: 10px;
}
#mobileCodeSubmit {
  opacity: 0;
  z-index: 4;
  position: absolute;
  top: 50%;
  right: 15px;
  color: #aaa;
  transform: translateY(-50%);
  padding: 6px 20px 4px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  font-weight: 700;
}
.modalError {
  color: #fe415c;
  bottom: 0;
  margin-top: 6px;
  font-size: 12px;
}
.inputGuide {
  bottom: 0;
  margin-left: 5px;
  margin-top: 6px;
  font-size: 10px;
}

#joinModalBody {
  padding-bottom: 0;
}
.agreeWrap {
  margin-top: 8px;
}
.allCheckWrap {
  color: #ececec;
  height: auto;
  padding-bottom: 14px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.checkWrap {
  color: #ececec;
  display: flex;
  align-items: center;
  position: relative;
  height: 14px;
  margin: 10px 0;
}
.checkStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.3px;
  height: 17.3px;
  margin-right: 10px;
}
.labelStyle {
  color: #939393;
  flex: 1 1;
  font-size: 15px;
}
.agreeWrap input {
  height: 17px;
  width: 17px;
  left: 1px;
  vertical-align: middle;
  cursor: pointer;
  line-height: normal;
}
.labelStyle a {
  float: right;
  font-size: 13px;
  line-height: 19px;
  color: #767676;
}
.modalFooter {
  width: 90%;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.modalFooterWrap {
  background-color: #fff;
  height: 70px;
}
#modalSignUpBtn[disabled] {
  background-color: #f2f4f7;
  border-color: transparent;
  color: #cacaca;
  cursor: not-allowed;
}
#modalSignUpBtn {
  width: 100%;
  height: 54px;
  border: 0;
  border-radius: 27px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
