/* 슬라이드 섹션 */
.slideContainer {
  width: 100%;
}
.slideImg {
  width: 100%; /* 부모(슬라이드 컨테이너)의 가로 크기 100% 받기 */
  border-radius: 4px;
  height: 490px;
}

.slick-prev::before {
  left: 10;
}
.slick-next:before {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  display: flex; /* 이미지 방향키 */
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 200px;
  width: 30px;
  height: 60px;
  font-weight: 800;
  opacity: 0.3;
  border-radius: 15px;
  background-color: #fff;
  color: #646363;
  font-size: 20px;
  z-index: 2000;
  border: none;
  cursor: pointer;
  margin: 0 20px;
}
